body{
    text-align: center;
}
h1{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 5px;  
}
h3{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}
.container-fluid{
    padding: 7% 15%;
}
/* title  section */
#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}
#title .container-fluid {
    padding: 3% 15% 7%;
  }
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}  
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 600;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.download-button{
    margin: 5% 2% 5% 2%;
}
.fab{
    padding-right: 5px;
}
.title-img{
    transform: rotate(20deg);
    width: 70%;
    padding-left: 3rem;
    position: absolute;
}

/* feature section */
#features{
    background-color: #fff;
    position: relative; 
}
p {
    color: #8f8f8f;
}
.fas{
    color: #ef8172;
    margin-bottom: 1.5rem;
}
.fas:hover{
    color: #ff4c68;
}
.feature-box{
    padding: 5%;
}

/* animation section */
#animation{
    background-color: #ef8172;
}
.animation-text{
    color: #fff;
}
.animation-image{
    width: 10%;
    border-radius: 50px;
    margin-right: 5px;
}
.carousel-item{
    padding: 3% 15%;
}

/* logo section */
#logo{
    padding-bottom: 60px;
    background-color: #ef8172;
}
.logo-img{
    width: 15%;
    margin: 15px 20px 10px 30px;
}

/* price section */
.card{
    margin: 50px 5px 0px;
}
.card-body h2{
    font-size: 2.5rem;
}

/* cta section */
#cta{
    color: #fff;
    background-color: #ff4c68;
}
/* footer section */
#footer .container-fluid{
    padding: 50px 15%;
}
.fab-footer{
    margin: 3px;
}
#footer p{
    padding-top: 10px;
}
/* media title */
@media (max-width: 1080px){
    .title-img{
        position: static;
        transform: rotate(0);
        padding-left: 0px;
    }
    #title .navbar{
        text-align: right;
    }
    #title .row{
        text-align: center;
    }
}

